<html>
<body>
<h1> Follow </h1>
<p> {{users}} </p>
<table>
	<tr>
	<th> First Name </th>
	<th> Last Name </th>
	<th> Age </th>
	<th> email </th>
	<th> user Name </th>
	<th> Password </th>
</tr>
{% for user in users %}

  <form enctype ='application/json' action="http://localhost:5000/follow method="post">
  <tr>
    <td> <input type ="text" name="cusername" value = {{user['name']}} > {{user['name']}} </td>
    <td> <input type ="text" name="clastname" > {{user['lname']}}</td>
    <td><button> Follow </button></td>
 

  </tr>
</form>
{% endfor %}
</table>
</body>
</html>